body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

.navbar {
        background-color: #333;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        position: sticky;
        top: 0;
        z-index: 1000;
}
.navbar h1 {
    color: #fff;
    margin: 0;
    cursor: pointer;
    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
  }
  .navbar h1:hover {
    color: pink;
  }
.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  .navbar ul li {
    margin-left: 1.5rem;
    cursor: pointer;
  }
  .navbar ul li a {
    color: white;
  }
  
  .navbar ul li a:hover {
    color: pink;
  }
  .navbar ul li a.active {
    color: red;
  }